<a href="https://colab.research.google.com/github/ITA-LOW/senex-data-sus/blob/main/C%C3%B3pia_de_Fases_4_5_6_CRISP_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
url = 'https://github.com/ITA-LOW/senex-data-sus/blob/main/data_frame_p%C3%B3s_ETL.csv?raw=true'
df = pd.read_csv(url)
df.drop(columns=['Unnamed: 0','ESTADO','ANO'], inplace=True)

In [ ]:
X = df.iloc[:, :-1].values
y = pd.DataFrame(df.iloc[:, 4].values,columns=['CAUSABAS'])

y

       CAUSABAS
0           C61
1          I500
2          I500
3          C710
4          C349
...         ...
208526     I429
208527     K769
208528     K921
208529     I219
208530     C189

[208531 rows x 1 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y = y.apply(le.fit_transform)
y

        CAUSABAS
0            438
1           1289
2           1289
3            466
4            337
...          ...
208526      1265
208527      1764
208528      1804
208529      1201
208530       288

[208531 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=99)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(10,10,10),max_iter=500,random_state=171)
mlp.fit(X_train, y_train.values.ravel())

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
y_pred = mlp.predict(X_test)

cm=confusion_matrix(y_test,y_pred)

print(cm)
print(classification_report(y_test,y_pred))

In [ ]:
#essa celula eh pra testar se outras arquiteturas performam melhor
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score

test_arch = [(10,10,10),(1,3,2),(1,5,7),(3,3),(9,5,1),(15,11,5)]

for arch in test_arch:
    print(f"Testando arquitetura {arch}")
    model = MLPClassifier(hidden_layer_sizes=arch, random_state=17, max_iter=2000)
    accuracy = cross_val_score(model, X_train, y_train.values.ravel(), cv = 10)
    print(accuracy)
    print("Acuracia media: ",accuracy.mean())